# FILZA MANZOOR_CHAPTER 2

## PRACTICE PROBLEMS

## 2.1

In [1]:
# a) The sum of first 5 positive integers
pos_int=[1,2,3,4,5]
x=sum(pos_int)
print("The sum of first 5 positive integers is: ", x)

The sum of first 5 positive integers is:  15

In [8]:
# b) The average age
s= 23
m= 19
f= 31
import math
x=int((s+m+f)/3)
print ("The average age among Sara, Mark and Fatima is: ", x )

The average age among Sara, Mark and Fatima is:  24

In [7]:
# c) The number of times 73 goes into 403
x=403//73
print(x)

5

In [6]:
# d) The remainder when 403 is divided by 73
x= 403%73
print(x)

38

In [9]:
# e) 2 to the 10th power
x=2**10
print(x)

1024

In [11]:
# f)The absolute value of the difference between Sara’s height (54 inches) and Mark’s height (57 inches)
s_h= 54
m_h=57
x= (s_h-m_h)
print (abs(x))

3

In [12]:
#g) The lowest price among the following prices: $34.99, $29.95, and $31.50
lst=[34.99,29.95,31.50]
x=min(lst)
print (x)

29.95

## 2.2

In [13]:
# a) The sum of 2 and 2 is less than 4.
a= 2 + 2 < 4
print (bool(x))

True

In [14]:
# b) The value of 7 // 3 is equal to 1 + 1
x= 7 // 3 == 1 + 1
print(x)

True

In [15]:
# c) The sum of 3 squared and 4 squared is equal to 25
x=3**2
y=4**2
x + y == 25

True

In [17]:
# (d) The sum of 2, 4, and 6 is greater than 12.
2+4+6>=12

True

In [19]:
# (e) 1387 is divisible by 19.
1387 % 19==0

True

In [20]:
# f) 31 is even. (Hint: what does the remainder when you divide by 2 tell you?)
31 % 2==0

False

In [21]:
# (g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00.
min(34.99, 29.95, 31.50) < 30.00

True

## 2.3

In [22]:
#(a) Assign integer value 3 to variable a.
a=3
print (a)

3

In [23]:
#(b) Assign 4 to variable b
b=4
print(b)

4

In [24]:
#(c) Assign to variable c the value of expression a * a + b * b
c= a*a + b*b
print(c)

25

## 2.4

In [26]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
print(' (a) For expression : "ant bat cod" :', s1+ ' '+ s2+ ' '+s3)
print(' (b) For expression : "ant ant ant ant ant ant ant ant ant ant " :', 10 * (s1 +
' '))
print(' (c) For expression : "ant bat bat cod cod cod" : ',s1 + ' ' + 2 * (s2 + ' ') +
2 * (s3 + ' ') + s3)
print(' (d) For expression : "ant bat ant bat ant bat ant bat ant bat ant bat ant bat ": ', 7 * (s1 + ' '+ s2 + ' '))
print(' (e) For expression : "batbatcod batbatcod batbatcod batbatcod batbatcod" : ',
5* (s2 + s2 + s3+ ' '))

 (a) For expression : "ant bat cod" : ant bat cod
 (b) For expression : "ant ant ant ant ant ant ant ant ant ant " : ant ant ant ant ant ant ant ant ant ant
 (c) For expression : "ant bat bat cod cod cod" :  ant bat bat cod cod cod
 (d) For expression : "ant bat ant bat ant bat ant bat ant bat ant bat ant bat ":  ant bat ant bat ant bat ant bat ant bat ant bat ant bat
 (e) For expression : "batbatcod batbatcod batbatcod batbatcod batbatcod" :  batbatcod batbatcod batbatcod batbatcod batbatcod

## 2.5

In [27]:
s= '0123456789'
s=[0]
print('a)',s)
s=[1]
print('b)',s)
s=[6]
print('c)',s)
s=[8]
print('d)',s)
s=[9]
print('e)',s)

a) [0]
b) [1]
c) [6]
d) [8]
e) [9]

## 2.6

In [28]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
x= min(words)
print("The word that contains maximum words is:", x)
y=max(words)
print("The word that contains minimum words is:", y)

The word that contains maximum words is: badminton
The word that contains minimum words is: bat

## 2.7

In [29]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
a= grades.count(7)
print("The grades counted till 7 are:", a)
b= grades[-1] = 4
print("A statement that changes the last grade to 4 is: grades[-1] = 4" )
c= max([grades])
print("Maximum grade is: ", c)
d= grades.sort()
print("The grades in ascending order are:", d )
e= int(sum(grades) / len(grades))
print("Average grades are: ", e )

The grades counted till 7 are: 2
A statement that changes the last grade to 4 is: grades[-1] = 4
Maximum grade is:  [9, 7, 7, 10, 3, 9, 6, 6, 4]
The grades in ascending order are: None
Average grades are:  6

## 2.8

In [30]:
#a
((2 + 3) == 4) or (a >= 5)

False

In [31]:
#b
lst= [3,6,7,8,1,2,77,43,100,45,23,56]
(((lst[1]) * (-3)) < (-10)) == 0

False

In [32]:
#c
lst= [3,6,7,8,1,2,77,43,100,45,23,56]
(((lst[1]) * (-3)) < (-10)) in [0, True]

True

In [33]:
#d
4*(5**2)

100

In [34]:
#e
4/2 in [1,2,3]

True

## 2.9

In [35]:
#(a) False + False
a= type(False + False)
print (a)

<class 'int'>

In [36]:
#(b) 2 * 3**2.0
b= type(2 * 3**2.0)
print(b)

<class 'float'>

In [37]:
#(c) 4 // 2 + 4 % 2
c=type(4 // 2 + 4 % 2)
print (c)

<class 'int'>

In [38]:
#(d) 2 + 3 == 4 or 5 >= 5
d=type(2 + 3 == 4 or 5 >= 5)
print(d)

<class 'bool'>

## 2.10

In [40]:
# a) The length of the hypotenuse in a right triangle whose other two sides have lengths a and b
a=7
b=4
import math
c= int(math.sqrt(a**2 + b**2))
print("The length of the hypoteneous in a right angle triangle is: ", c)

The length of the hypoteneous in a right angle triangle is:  8

In [42]:
# b) The value of the expression that evaluates whether the length of the above hypotenuse is 5
a=7
b=4
import math
c= int(math.sqrt(a**2 + b**2))==5
print (c)

False

In [43]:
#c) The area of a disk of radius a
a=5
import math
c= int(math.pi* a**2)
print ("For area of disk is: ", c)

For area of disk is:  78

In [45]:
#(d) The value of the Boolean expression that checks whether a point with coordinates xand y is inside a circle with center (a, b) and radius r

## 2.11

In [48]:
#a
lst=[-7,-8,-5,-4,-3,-2,-1]
print("Sum of elements in given list is :", sum(lst))

Sum of elements in given list is : -30

In [49]:
#b
age_grp=[17,24,21,27]
import math
x=int(sum(age_grp)/3)
print ("The average age around the group is: ", x )

The average age around the group is:  29

In [50]:
#c
2**-20

9.5367431640625e-07

In [51]:
#d
4356//61

71

In [53]:
#e
4356 % 61

25

## 2.12

In [54]:
#a
s1='-'
s2='+'
print (s1+s2)

-+

In [56]:
#b
print (s1+s2+s1)

-+-

In [57]:
#c
print (s2+s1+s1)

+--

In [58]:
#d
print (2*(s2+s1+s1))

+--+--

In [59]:
#e
print (10*(s2+s1+s1)+s2)

+--+--+--+--+--+--+--+--+--+--+

In [60]:
#f
print(5*(s2+s1+s2+s2+s2+s1+s1))

+-+++--+-+++--+-+++--+-+++--+-+++--

## 2.13

In [61]:
s = 'abcdefghijklmnopqrstuvwxyz'
s[0]

'a'

In [62]:
s[2]

'c'

In [63]:
s[-1]

'z'

In [64]:
s[-2]

'y'

In [65]:
s[-10]

'q'

## 2.14

In [72]:
s="goodbye"
s[0] == 'g'

True

In [74]:
s[6]=='g'

False

In [76]:
s[0]== 'g' and 'a'

'a'

In [77]:
s[-2]=='x'

False

In [78]:
s[3]=='d'

True

In [79]:
s[0]==s[6]

False

In [80]:

s[-1:-4]== 'tion'

False

## 2.15

In [ ]:
a='anachronistically'
b='counterintuitive'
len(a)+1> len(b)

In [ ]:
x= ['misrepresentation', 'misinterpretation']
x.sort()
print (x)

In [81]:
wrd= 'floccinaucinihilipilification'
if 'e' in wrd:
 print("E is in this word")
else:
 print("E is not in the word")

E is not in the word

In [ ]:
word_1= 'counterrevolution'
word_2= 'counter'
word_3= 'resolution'
print(len(word_1) , "=" , len(word_2)+ len(word_3))

## 2.16

In [83]:
a=6
b=7

In [ ]:
c=((b+a)/2)

In [84]:
inventory=['paper', 'staples','pencils']

In [85]:
first=' John '
middle='Fitzgerald'
last=' Kennedy '

In [86]:
fullname= str(first) + str(middle) + str(last)
print(fullname)

 John Fitzgerald Kennedy

## 2.17

In [87]:
#a
a=17
b=-9
c=(a+b)
c<=10

True

In [88]:
#b
inventory=['paper', 'staples','pencils']
fullname='Filza Manzoor'
len(inventory) >= len(5*fullname)

False

In [89]:
#c
c<24

True

In [90]:
#d
a=range(-9,17)
6 in a

True

In [91]:
s1= 'lily'
s2= 'roses'
s3= 'jasmine'
len (s3) > len(s2)> len(s1)

True

In [92]:
inventory=[]
len(inventory)==0 or len(inventory)> 10

True

## 2.18

In [93]:
flower =['rose', 'bougainvillea',
'yucca', 'marigold', 'daylilly', 'lilly of the valley']

In [94]:
'potato' in flower

False

In [95]:
thorny= ['rose', 'bougainvillea','yucca']
poisonous= ['lilly of the valley']
dangerous=[thorny+poisonous]
print(thorny)
print(poisonous)
print(dangerous)

['rose', 'bougainvillea', 'yucca']
['lilly of the valley']
[['rose', 'bougainvillea', 'yucca', 'lilly of the valley']]

## 2.19

In [96]:
#a
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']
numyes =answers.count('Y')
print (numyes)

5

In [97]:
#b
numno =answers.count('N')
print (numno)

6

In [98]:
percentyes= (numyes*100)/11
print(int(percentyes))

45

In [99]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']
answers.sort()
print(answers)

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [100]:
#f
answers[6]

'Y'

## 2.20

In [101]:
s1= ['t','i','p']
s1.reverse()
print(s1)

['p', 'i', 't']

## 2.21

In [102]:
s=['L', 'a','r','y']
t=['P','a','g','e']
x=s[0]+t[0]
print(x)

LP

## 2.22

In [103]:
lst= [3, 7, -2, 12]
x=[1]
y=[2]
print (x-y)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

## 2.23

In [104]:
#(a) Tuple
monthT= ('Mar', 'May')
n= 1
monthT [ :n]
monthT [n: ]
monthT= monthT[ :n] + ( "Apr" , ) + monthT[n: ]
print(monthT)
# List
monthL=['Mar', 'May']
monthL.insert(1, 'Apr' )
print(monthL)
#(b) Tuple
#ERROR because tuples are immutable
#List
monthL.append('Jun')
print(monthL)
#(c) Tuple
#ERROR because tuples are immutable
#List
monthL= ['Mar', 'Apr', 'May', 'Jun']
monthL.pop(2)
print(monthL)
#(d) Tuple
#ERROR because tuples are immutable
#List
monthL = ['Mar', 'Apr', 'May', 'Jun']
monthL.pop(1)
print(monthL)
#(e) Tuple
monthT= ('Mar', 'May')
monthT= tuple(reversed(monthT))
#List
monthL = ['Mar', 'Apr', 'May', 'Jun']
monthL = monthL[::-1]
print(monthL)
#(f) Tuple
#ERROR because there is no attribute to sort.
#List
monthL = ['Mar', 'Apr', 'May', 'Jun']
monthL.sort()

('Mar', 'Apr', 'May')
['Mar', 'Apr', 'May']
['Mar', 'Apr', 'May', 'Jun']
['Mar', 'Apr', 'Jun']
['Mar', 'May', 'Jun']
['Jun', 'May', 'Apr', 'Mar']

## 2.25

In [105]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
grad_1= grades.count('A')
print (grad_1)

4

In [106]:
grad_1= grades.count('B')
print (grad_1)

4

In [107]:
grad_1= grades.count('C')
print (grad_1)

2

In [108]:
grad_1= grades.count('D')
print (grad_1)

2

In [109]:
grad_1= grades.count('F')
print (grad_1)

1

## 2.26

In [110]:
from math import *
r=10
a=sqrt((0-0)**2+(0-0)**2)
b=sqrt((10-0)**2+(10-0)**2)
c=sqrt((6-0)**2+(6-0)**2)
d=sqrt((8-0)**2+(7-0)**2)
print(a<r)
print(b<r)
print(c<r)
print(d<r)

True
False
True
False

## 2.27

In [112]:
print("The height of the different triangles are measured below using the trignometric formula (h=l*sinx), where 'h=height', 'l=length'")
print( "(a) h= 16 ft. x=75 degrees")
print(" 75 degrees in radian is 1.3 rad ")
print( "1.3 rad in sin is 0.96" )
output= (16*0.96)
print ("Answer=", output)
print( "(b) h= 20 ft. x=0 degrees")
print(" 0 degrees in radian is 0 rad ")
print( "0 rad in sin is 0" )
output= (20*0)
print ("Answer=", output)
print( "(c) h= 24 ft. x=45 degrees")
print(" 45 degrees in radian is 0.7 rad ")
print( "0.7 rad in sin is 0.64" )
output= (24*0.64)
print ("Answer=", output)
print( "(d) h= 24 ft. x=80 degrees")
print(" 80 degrees in radian is 1.3 rad ")
print( "1.3 rad in sin is 0.96" )
output= (80*0.96)
print ("Answer=", output)

The height of the different triangles are measured below using the trignometric formula (h=l*sinx), where 'h=height', 'l=length'
(a) h= 16 ft. x=75 degrees
 75 degrees in radian is 1.3 rad
1.3 rad in sin is 0.96
Answer= 15.36
(b) h= 20 ft. x=0 degrees
 0 degrees in radian is 0 rad
0 rad in sin is 0
Answer= 0
(c) h= 24 ft. x=45 degrees
 45 degrees in radian is 0.7 rad
0.7 rad in sin is 0.64
Answer= 15.36
(d) h= 24 ft. x=80 degrees
 80 degrees in radian is 1.3 rad
1.3 rad in sin is 0.96
Answer= 76.8

## 2.28

In [113]:
list_1 =[1,2,3,4,5,6,7,8]
#(a) An expression that evaluates to the index of the middle element of the list
print("(A) The above list is of even length, so the middle number will be ", (8+2)/2)
output =(list_1.index (4))
print("The index of the middle number is ", output)
#(b) Evaluate middle number of the list
print("(B)The middle element of the list is")
len(list_1)/2
#(c) Sort the list
list_1.sort(reverse= True)
print("(C)" ,list_1)
#(d) Statement that pops the 1st number and arranges it at the end
list_1 =[1,2,3,4,5,6,7,8]
list_1.append(1)
list_1.pop(0)
print('(D)', list_1)

(A) The above list is of even length, so the middle number will be  5.0
The index of the middle number is  3
(B)The middle element of the list is
(C) [8, 7, 6, 5, 4, 3, 2, 1]
(D) [2, 3, 4, 5, 6, 7, 8, 1]

## 2.29

In [114]:
a= (0 <= 1 <= 2)
print (a)
b= (2 + 3) <= (4 + 5) >= (7)
print(b)
c= (1 > -1) == (4> 3)
print (c)

True
True
True

## 2.30

In [115]:
lst=['Filza','Usman','Ali','Fatima']
lst.append('Hania')
print(lst)
print('The append function inserts a new or added string at the last of the string')

['Filza', 'Usman', 'Ali', 'Fatima', 'Hania']
The append function inserts a new or added string at the last of the string

## 2.31

In [116]:
print('extend: the extend method increases the length of the list')
print('extend: the copy method makes a copy of the list')
print('extend: the clear method clears the elements of the list')

extend: the extend method increases the length of the list
extend: the copy method makes a copy of the list
extend: the clear method clears the elements of the list